{{template "base" .}}
{{define "content"}}
    <h1>This is my about page</h1>

    <p>
        {{if ne (index .StringMap "remote_ip") ""}}
            your remote ip address is {{index .StringMap "remote_ip"}}
        {{else}}
            I dont know your ip address.please visit <a href="/home">home</a> so that we can set it
        {{end}}
    </p>
{{end}}
