{{template "base" .}}
{{define "content"}}

<div class="container" style="background-color:black">
    <div class="col" style="background-color:wheat">
        <h1 style="color:red">This is my home page....</h1>
        <h1 style="color:green">This is my home page {{index .StringMap "test"}}.</h1>
    </div>
    <!-- <img src="/static/images/house.jpg" height="50" width="50">
    <img src="/static/images/marjors-suite.png" height="50" width="50">
    <img src="/static/images/generals-quarters.png" height="50" width="50">
    <img src="/static/images/tray.png" height="50" width="50">
    <img src="/static/images/woman-laptop.png" height="50" width="50"> -->
</div>

{{end}}



